<dialog id="about-dialog" class="fadeInUp animation-speed-normal animation-ease-in animation-fill-backwards">
	{% assign name = site.author | downcase | replace: ' ', '-' %}
	{% assign about = site.data.authors[name] %}
	<header class="sticky top background-primary color-alt clearfix">
		<a href="{{ '/contact/' | absolute_url  }}" class="color-inherit float-left center" role="button" title="Contact Page">
			{% include icon.html icon='address-book' %}
		</a>
		<button data-close="#about-dialog" class="font-main filter-shadow float-right">
			{% include icon.html icon='close' %}
		</button>
	</header>
	<figure class="clearfix">
		{% include gravatar.html
			attrs='data-foo="bar"'
			gravatar=about.image.gravatar
			sizes='(orientation: portrait) 15vw, 12vw'
			default_size=256
			class='round shadow-dark float-left'
		%}
		<blockquote class="float-left">
				{{ about..description }}
			<cite>{{ about.givenName }} {{ about.familyName }}</cite>
		</blockquote>
	</figure>
	<div class="skills center animation-stagger">
		{% assign className = 'trampoline animation-ease-in-out animation-infinite animation-speed-normal animation-overshoot animation-alternate'}
		{% include icon.html icon='html5' class=className width='48' height='48' %}
		{% include icon.html icon='css3' class=className width='48' height='48' %}
		{% include icon.html icon='javascript' class=className width='48' height='48' %}
		<img src="{{ '/img/logos/svg.svg' | absolute_url }}" width="48" height="48" alt="MySQL" class="{{ className }}" />
		{% include icon.html icon='git' class=className width='48' height='48' %}
		<img src="{{ '/img/logos/php.svg' | absolute_url }}" width="48" height="48" alt="PHP" class="{{ className }}" />
		{% include icon.html icon='mysql' class=className width='48' height='48' %}
	</div>
</dialog>
