<span hidden="">
	{% include breadcrumb-nav.html category=page.category post=page %}
</span>
<article itemtype="http://schema.org/BlogPosting" itemscope="" itemprop="mainEntityOfPage" role="article" class="font-article">
	<header class="article-meta shadow-dark">
		{% if page.tags %}<meta itemprop="keywords" content="{{ page.tags | join: ', '}}" />{% endif %}
		{% if page.imgur %}
			{% capture hash %}{{ include.url | replace: 'https://i.imgur.com/', '' | replace: 'https://imgur.com/', '' | replace: '.png', '' | replace: '.jpg', '' }}{% endcapture %}
			<meta itemprop="image" content="https://i.imgur.com/{{ hash }}m.png" />
		{% elsif page.image %}
			<meta itemprop="image" content="{{ page.image | absolute_url }}" />
		{% endif %}
		{% if page.description %}
			<meta itemprop="description" content="{{ page.description }}" />
		{% endif %}
		{% if page.tags %}
			<meta itemprop="keywords" content="{{ page.tags | join: ', '}}" />
		{% endif %}
		<meta itemptop="wordCount" content="{{ content | number_of_words }}" />
		<meta itemprop="url" content="{{ page.url | absolute_url }}" />
		<details open="">
			<summary class="block">
				<h1 class="inline-block">
					{% include icon.html icon='view-more' %}
					<span itemprop="headline">{{ page.title }}</span>
				</h1>
			</summary>
			<div class="font-main post-details">
				{% if page.category %}
					<div class="tags">
						<a href="{{ site.url }}/posts/{{ page.category | downcase }}">
							{% include icon.html icon='tag' %}
							<b>{{ page.category | capitalize }}</b>
						</a>
					</div>
					<hr />
				{% endif %}
				{% if page.author %}
					{% assign author = page.author | downcase | replace: ' ', '-'  %}
					{% if site.data.authors contains author %}
						{% include by-line.html author=author %}
					{% else %}
						<div>
							<b>By <span itemprop="author">{{ page.author }}</span></b>
						</div>
						<br />
					{% endif %}
				{% endif %}
				{% if page.date %}
					<b class="meta-date-posted">
						<span>Posted on</span>
						<time itemprop="datePublished" datetime="{{ page.date | date: data_to_xmlschema }}">
							{{ page.date | date: '%a, %B %e, %Y' }}
						</time>
					</b>
				{% endif %}
				{% if page.updated %}
					<b class="meta-date-updated">
						<span>Updated on</span>
						<time itemprop="dateModified" datetime="{{ page.updated | date: data_to_xmlschema }}">
							{{ page.updated | date: '%a, %B %e, %Y' }}
						</time>
					</b>
				{% else %}
					<meta itemprop="dateModified" content="{{ page.date | date: data_to_xmlschema }}" />
				{% endif %}
				{% if site.data.publisher %}
					{% assign publisher = site.data.publisher %}
					<div itemprop="publisher" itemtype="{{ publisher['@context'] | default: 'http://schema.org' }}/{{ publisher['@type'] | default: 'Organization' }}" itemscope="" hidden="">
						<meta itemprop="name" content="{{ publisher.name }}" />
						{% if publisher.url %}<meta itemprop="url" content="{{ publisher.url }}" />{% endif %}
						{% if publisher.email %}<meta itemprop="email" content="{{ publisher.email }}" />{% endif %}
						{% if publisher.logo %}
							<div itemprop="logo" itemtype="http://schema.org/ImageObject" itemscope="">
								<meta itemprop="url" content="{{ publisher.logo.url | absolute_url }}" />
							</div>
						{% endif %}
						{% if publisher.sameAs %}{% for link in publisher.sameAs %}
							<meta itemprop="sameAs" content="{{ link }}" />
						{% endfor %}{% endif %}
					</div>
				{% endif %}
			</div>
		</details>
	</header>
	{% if page.subheading %}{% include subheading.html subheading=page.subheading %}{% endif %}
	<div itemprop="articleBody mainEntityOfPage" class="optimize-legibility">{{ content }}</div>
	<footer class="clearfix relative">
		{% if page.ads and site.ad-sense %}{% include ad.html %}{% endif %}
		{% if jekyll.environment == 'production' and  page.comments and site.discus-identifier %}{% include disqus.html %}{% endif %}
		<hr />
		{% include license.html %}
	</footer>
</article>
