<div itemtype="http://schema.org/Person" itemprop="author" itemscope="" class="author-info clearfix">
	{% assign author = site.data.authors[include.author] %}
	{% capture icon-class %}{{ include.animation | default: 'jackInTheBox' }} animation-speed-normal animation-ease-out{% endcapture %}
	<details>
		<summary>
			<b>By</b>
			<b itemprop="name">
				{% if author.givenName %}
					<span itemprop="givenName">{{ author.givenName }}</span>
				{% endif %}
				{% if author.additionalName %}
					<meta itemprop="additionalName" content="{{ author.additionalName }}" />
				{% endif %}
				{% if author.familyName %}
					<span itemprop="familyName">{{ author.familyName }}</span>
				{% endif %}
			</b>
		</summary>
		<div class="big meta-author-links flex row">
			{% if author.image.gravatar %}
				<a href="https://secure.gravatar.com/{{ author.image.gravatar }}" title="Gravatar" rel="noopener external">
					{% include gravatar.html
						gravatar=author.image.gravatar
						class='jackInTheBox round animation-speed-normal animation-ease-out'
						sizes='(min-width: 1000px) 2.6vmax, (min-width: 500px) 3vmax, 4.6vmax'
						itemprop='image'
					%}
				</a>
			{% elsif author.image %}
				<img itemprop="image" src="{{ author.image | absolute_url }}" class="round {{ include.animation | default: 'jackInTheBox' }} animation-speed-normal animation-ease-out" />
			{% endif %}
			{% if author.url %}
			<a itemprop="url" href="{{ author.url | absolute_url }}" rel="external noopener" class="no-text-decoration">
				{% include icon.html icon='web-browser' class=icon-class %}
			</a>
			{% endif %}
			{% if author.sameAs.github %}
				<a itemprop="sameAs" href="https://github.com/{{ author.github }}" rel="external noopener" title="GitHub" class="no-text-decoration">
					{% include icon.html icon='mark-github' class=icon-class %}
				</a>
			{% endif %}
			{% if author.sameAs.twitter %}
			<a itemprop="sameAs" href="https://twitter.com/{{ author.twitter }}" rel="external noopener" title="Twitter" class="no-text-decoration">
				{% include icon.html icon='twitter' class=icon-class %}
			</a>
			{% endif %}
			{% if author.sameAs.linkedin %}
				<a itemprop="sameAs" href="https://www.linkedin.com/in/{{ author.linkedin }}/" rel="noopener external" title="LinkedIn" class="no-text-decoration">
					{% include icon.html icon='linkedin' class=icon-class %}
				</a>
			{% endif %}
			{% if author.sameAs.google_plus %}
				<a itemprop="sameAs" href="https://plus.google.com/{{ author.googlePlus }}" rel="noopener external" title="Google+" class="no-text-decoration">
					{% include icon.html icon='google+' class=icon-class %}
				</a>
			{% endif %}
			{% if author.sameAs.youtube %}
				<a itemprop="sameAs" href="https://youtube/com/channel/{{ author.youtube }}" rel="noopener external" title="YouTube" class="no-text-decoration">
					<svg class="icon {{ include.animation | default: 'jackInTheBox' }} animation-speed-normal animation-ease-out">
						<use xlink:href="{{ site.icons | absolute_url | append: '#youtube' }}" />
					</svg>
				</a>
			{% endif %}
			{% if author.sameAs.stackoverflow %}
				<a itemprop="sameAs" href="https://stackoverflow.com/users/{{ author.stackoverflow }}" rel="noopener external" title="YouTube" class="no-text-decoration">
					{% include icon.html icon='stackoverflow' class=icon-class %}
				</a>
			{% endif %}
			{% if author.sameAs.reddit %}
				<a itemprop="sameAs" href="https://www.reddit.com/user/{{ author.reddit }}" rel="noopener external" title="YouTube" class="no-text-decoration">
					{% include icon.html icon='reddit' class=icon-class %}
				</a>
			{% endif %}
			{% if author.email %}
				<a itemprop="email" content="{{ author.email }}" href="mailto:{{ author.email }}" title="Email" class="no-text-decoration">
					{% include icon.html icon='mail-unread' class=icon-class %}
				</a>
			{% endif %}
		</div>
	</details>
</div>
