<div id="{{ include.event.name | slugify }}" class="{{ include.itemprop | default: 'event' }}" itemtype="http://schema.org/Event" itemscope="">
	<div>
		{% if include.event.url %}<a href="{{ include.event.url  }}">{% endif %}
		<h4 class="event-title center underline" itemprop="name">
			{{ include.event.name }}
		</h4>
		{% if include.event.url %}</a>{% endif %}
		{% if include.event.imgur %}
			<figure class="event-thumb center" itemprop="image" itemtype="http://schema.org/ImageObejct" itemscope="">
				{% include imgur.html
					url=include.event.image
					itemprop='url'
					sizes='(min-width: 700px) 30vw, 90vw'
				%}
			</figure>
		{% elsif include.event.image %}
			<figure class="event-thumb center" itemprop="image" itemtype="http://schema.org/ImageObejct" itemscope="">
				<img src="{{ include.event.image }}" class="card shadow" alt="" title="" crossorigin="anonymous" referrerpolicy="origin-when-cross-origin" decoding="auto" itemprop="url" />
			</figure>
		{% endif %}
		<time class="event-begin" itemprop="startDate" datetime="{{ include.event.startDate | date_to_xmlschema }}">
			{% include icon.html icon='events' %}
			{{ include.event.startDate | date: '%a %b %-d, %Y %l:%M %p' }}
		</time>
	</div>
	<br />
	<details class="event-details"{% if include.hideDetails %} hidden=""{% endif %}>
		<summary role="button">More Info</summary>
		<hr />
		<time class="event-end" itemprop="endDate" datetime="{{ include.event.startDate | date_to_xmlschema }}">
			{% include icon.html icon='events' %}
			<span>Ends:</span>
			{{ include.event.endDate | date: '%a %b %-d, %Y %l:%M %p' }}
		</time>
		<hr />
		<div class="event-location" itemprop="location" itemtype="http://schema.org/Place" itemscope="">
			{% include address.html address=include.event.location itemprop='address' %}
		</div>
		<hr />
		<div class="event-description" itemprop="description">
			{% include icon.html icon='note' %}{{ include.event.description }}
		</div>
		<hr />
		{% if include.event.offers %}<div>{% for offer in include.event.offers %}
			<hr />
			{% if offer.url %}
				<a href="{{ offer.url }}" role="button" rel="noopener external" class="center btn btn-primary event-offer-btn" itemprop="offers" itemtype="http://schema.org/Offer" itemscope=""{% if offer.availability and offer.availability != 'InStock' %} title="Unavailable" disabled=""{% endif %}>
					<meta itemprop="url" content="{{ offer.url }}" />
					<b class="event-price">
						<span itemprop="name">{{ offer.name | default: 'General Admission' }}</span>:
						$<span itemprop="price">{{ offer.price }}</span>
					</b>
					<meta itemprop="priceCurrency" content="{{ offer.eventCurrency | default: 'USD' }}" />
					<link itemprop="availability" href="https://schema.org/{{ offer.availability | default: 'InStock' }}" />
				</a>
			{% else %}
				<div role="button" class="center btn btn-primary block cursor-default" itemprop="offers" itemtype="http://schema.org/Offer" itemscope="">
					<b class="event-price">
						<span itemprop="name">{{ offer.name | default: 'General Admission' }}</span>:
						$<span itemprop="price">{{ offer.price }}</span>
					</b>
					<meta itemprop="priceCurrency" content="{{ offer.eventCurrency | default: 'USD' }}" />
				</div>
			{% endif %}
		{% endfor %}</div>{% else %}
			<div class="center btn btn-primary block" itemprop="offers" itemtype="http://schema.org/Offer" itemscope="">
				<b class="event-price">
					<span itemprop="name">Admission</span>:
					<span>Free</span>
				</b>
				<meta itemprop="price" content="0" />
				<meta itemprop="priceCurrency" content="{{ offer.eventCurrency | default: 'USD' }}" />
			</div>
		{% endif %}
		{% if include.event.url %}
			<hr />
			{% include icon.html icon='link' %}
			<a href="{{ include.event.url  }}" class="underline" itemprop="url">Click here to learn more</a>
		{% endif %}
		{% if include.event.organizer %}
			<hr />
			<div class="event-organizer" itemprop="organizer" itemtype="{{ include.event.organizer['@context'] | default: 'http://schema.org'}}/{{ include.event.organizer['@type'] | default: 'Organization'}}" itemscope="">
				<h5>
					<span>Organized by</span>
					<span itemprop="name">
						{% if include.event.organizer.url %}
							<a href="{{ include.event.organizer.url  }}" class="event-organizer-url underline" target="_blank" rel="noopener external">
								{{ include.event.organizer.name }}
							</a>
						{% else %}
							{{ include.event.organizer.name }}
						{% endif %}
					</span>
				</h5>
			</div>
		{% endif %}
	</details>
</div>
