<div class="event" itemtype="http://schema.org/Event" itemscope="">
	<div>
		{% include imgur.html
			url=include.event.image
			itemprop='image'
			sizes='(min-width: 700px) 400px, 100vw'
			class='event-thumb'
		%}
		<h4 class="event-title center underline" itemprop="name">
			{{ include.event.name }}
		</h4>
		<time class="event-begin" itemprop="startDate" datetime="{{ include.event.startDate | date_to_xmlschema }}">
			{% include icon.html icon='calendar' %}
			{{ include.event.startDate | date: '%a %b %-d, %Y %l:%M %p' }}
		</time>
	</div>
	<br />
	<details class="event-details">
		<summary role="button">More Info</summary>
		<hr />
		<time class="event-end" itemprop="endDate" datetime="{{ include.event.startDate | date_to_xmlschema }}">
			{% include icon.html icon='calendar' %}
			<span>Ends:</span>
			{{ include.event.endDate | date: '%a %b %-d, %Y %l:%M %p' }}
		</time>
		<hr />
		{% if include.event.location.url %}<a href="{{ include.event.location.url }}" target="_blank" rel="noopener external">{% endif %}
		<address class="event-location" itemprop="location" itemtype="http://schema.org/Place" itemscope="">
			{% include icon.html icon='location' %}
			{% if include.event.location.name %}<b itemprop="name">{{ include.event.location.name }}</b>{% endif %}
			<div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
				<span class="street-address" itemprop="streetAddress">{{ include.event.location.streetAddress }}</span>
				<span itemprop="addressLocality" class="event-city">{{ include.event.location.addressLocality }}</span>,
				<span itemprop="addressRegion" class="event-state">{{ include.event.location.addressRegion }}</span>
				<meta itemprop="postalCode" content="{{ include.event.location.postalCode }}" />
				<meta itemprop="addressCountry" content="{{ include.event.location.addressCountry | default: 'United States' }}" />
			</div>
		</address>
		{% if include.event.location.url %}</a>{% endif %}
		<hr />
		<div class="event-description" itemprop="description">
			{% include icon.html icon='note' %}{{ include.event.description }}
		</div>
		{% if include.event.offers %}{% for offer in include.event.offers %}
			<hr />
			<div itemprop="offers" itemtype="http://schema.org/Offer" itemscope="">
				<b class="event-price">
					$<span itemprop="price">{{ offer.price }}</span>
				</b>
				<meta itemprop="priceCurrency" content="{{ offer.eventCurrency | default: 'USD' }}" />
			</div>
		{% endfor %}{% else %}
			<div itemprop="offers" itemtype="http://schema.org/Offer" itemscope="" hidden="">
				<meta itemprop="price" content="0" />
				<meta itemprop="priceCurrency" content="{{ offer.eventCurrency | default: 'USD' }}" />
			</div>
		{% endif %}
		{% if include.event.url %}
			<hr />
			{% include icon.html icon='link' %}
			<a href="{{ include.event.url | absolute_url }}" class="underline" itemprop="url" rel="noreferrer external" target="_blank">Click here to learn more</a>
		{% endif %}
		{% if include.event.organizer %}
			<hr />
			<div class="event-organizer" itemprop="organizer" itemtype="{{ include.event.organizer['@context'] | default: 'http://schema.org'}}/{{ include.event.organizer['@type'] | default: 'Organization'}}" itemscope="">
				<h5>
					</span>Organized by</span>
					<span itemprop="name">
						{% if include.event.organizer.url %}
							<a href="{{ include.event.organizer.url | absolute_url }}" class="event-organizer-url underline" target="_blank" rel="noopener external">
								{{ include.event.organizer.name }}
							</a>
						{% else %}
							{{ include.event.organizer.name }}
						{% endif %}
					</span>
				</h5>
			</div>
		{% endif %}
	</details>
</div>
