<img
	{% capture gravatar %}https://secure.gravatar.com/avatar/{{ include.gravatar | replace: 'https://secure.gravatar.com/avatar/', '' }}{% endcapture %}
	srcset="
		{{ gravatar }}?s=1024&d={{ include.fallback | default: 'mm'}} 1024w,
		{{ gravatar }}?s=800&d={{ include.fallback | default: 'mm'}} 800w,
		{{ gravatar }}?s=512&d={{ include.fallback | default: 'mm'}} 512w,
		{{ gravatar }}?s=400&d={{ include.fallback | default: 'mm'}} 400w,
		{{ gravatar }}?s=300&d={{ include.fallback | default: 'mm'}} 300w,
		{{ gravatar }}?s=256&d={{ include.fallback | default: 'mm'}} 256w,
		{{ gravatar }}?s=180&d={{ include.fallback | default: 'mm'}} 180w,
		{{ gravatar }}?s=128&d={{ include.fallback | default: 'mm'}} 128w,
		{{ gravatar }}?s=98&d={{ include.fallback | default: 'mm'}} 98w,
		{{ gravatar }}?s=64&d={{ include.fallback | default: 'mm'}} 64w,
		{{ gravatar }}?s=32&d={{ include.fallback | default: 'mm'}} 32w"
	sizes="{{ include.sizes | default: '(min-width: 1000px) 2.6vmax, (min-width 500px) 3vmax, 4.6vmax }}"
	src="{{ gravatar }}?s={{ include.default_size | default: 256 }}&d={{ include.fallback | default: 'mm'}}"
	alt="{{ include.alt | default: 'Gravatar' }}"
	title="{{ include.title | default: include.alt }}"
	crossorigin="{{ include.crossorigin | default: 'anonymous' }}"
	referrerpolicy="{{ include.referrerpolicy | default: 'origin-when-cross-origin' }}"
	decoding="{{ include.decoding | default: 'auto' }}"
	class="{{ include.class | default: 'gravatar'}}"
	{% if include.id %}id="{{ include.id }}"{% endif %}
	{% if include.width %}width="{{ include.width }}"{% endif %}
	{% if include.height %}height="{{ include.height }}"{% endif %}
	{% if include.itemprop %}itemprop="{{ include.itemprop }}"{% endif %}
	{{ include.attrs }} />
