<a href="{{ include.post.url | absolute_url }}" title="{{ include.post.title }}">
	<h3 class="center post-title">{{ include.post.title }}</h3>
	{% if include.post.imgur %}
		{% include imgur.html
			url=include.post.imgur
			sizes='(min-width: 700px) 23vw, 100vw'
			alt='Article thumbnail'
			class='post-img'
			decoding='async'
		%}
	{% elsif include.post.image %}
		<img src="{{ include.post.image | absolute_url }}" class="post-img"{% if post.srcset %} srcset="{{ post.srcset | join: ', ' }}" sizes="(min-width: 700px) 23vw, 100vw"{% endif %} alt="Article thumbnail" crossorigin="anonymous" />
	{% endif %}
</a>
<br />
<details>
	<summary role="button">More Info</summary>
	<hr />
	<div>
		{% include icon.html icon='avatar-default' %}
		{{ include.post.author }}
	</div>
	<time datetime="{{ include.post.date | date: data_to_xmlschema }}">
		{% include icon.html icon='calendar' %}
		{{ include.post.date | date: '%a, %B %e, %Y' }}
	</time>
	{% if include.post.category %}
		<a href="{{ include.post.category | slogify | prepend: '/posts/' | absolute_url }}" class="block">
			{% include icon.html icon='tag' %}
			{{ include.post.category }}
		</a>
	{% endif %}
	{% if include.post.description %}
		<blockquote>
			{{ include.post.description }}
		</blockquote>
	{% else %}
		<blockquote class="post-excerpt clearfix">
			{{ include.post.content | strip_html | truncatewords: 20 }}
		</blockquote>
	{% endif %}
</details>
