{% if include.links.github %}
	<a href="https://github.com/{{ include.links.github }}" rel="noopener external" title="GitHub" itemprop="sameAs">
		{% include icon.html icon='github' class='icon' %}
	</a>
{% endif %}
{% if include.links.facebook %}
	<a href="https://facebook.com/{{ include.links.facebook }}" rel="noopener external" title="Facebook" itemprop="sameAs">
		{% include icon.html icon='facebook' class='icon' %}
	</a>
{% endif %}
{% if include.links.twitter %}
	<a href="https://twitter.com/{{ include.links.twitter }}" rel="noopener external" title="Twitter" itemprop="sameAs">
		{% include icon.html icon='twitter' class='icon' %}
	</a>
{% endif %}
{% if include.links.instagram %}
	<a href="https://www.instagram.com/{{ include.links.instagram }}" rel="noopener external" title="Instagram" itemprop="sameAs">
		<img class="icon" src="{{ '/img/logos/instagram.svg'  }}" alt="" />
	</a>
{% endif %}
{% if include.links.yelp %}
	<a href="https://www.yelp.com/biz/{{ include.links.yelp }}" rel="noopener external" title="Yelp" itemprop="sameAs">
		{% include icon.html icon='yelp' class='icon' %}
	</a>
{% endif %}
{% if include.links.linkedin %}
	<a href="https://www.linkedin.com/in/{{ include.links.linkedin }}/" title="LinkedIn" rel="noopener external" itemprop="sameAs">
		{% include icon.html icon='linkedin' class='icon' %}
	</a>
{% endif %}
{% if include.links.google_plus %}
	<a href="https://plus.google.com/{{ include.links.google_plus }}" rel="noopener external" title="Google+" itemprop="sameAs">
		{% include icon.html icon='google+' class='icon' %}
	</a>
{% endif %}
{% if include.links.stackoverflow %}
	<a href="https://stackoverflow.com/users/{{ include.links.stackoverflow }}" rel="noopener external" title="StackOverflow" itemprop="sameAs">
		{% include icon.html icon='stackoverflow' class='icon' %}
	</a>
{% endif %}
{% if include.links.upwork %}
	<a href="https://www.upwork.com/o/profiles/users/{{ include.links.upwork }}/" rel="noopener external" title="Upwork" itemprop="sameAs">
		{% include icon.html icon='upwork' class='icon' %}
	</a>
{% endif %}
